*.sw?
/*.apk
/android-paths.mk
/build/
/build-*/
/dist
/java_*/bin/
/java_*/gen/
/notxw_*/bin/
/notxw_*/gen/
/notxw_*/local.properties
/notxw_*/.classpath
/notxw_*/.project
/notxw_*/.settings
/notxw_*/lint.xml
/results/
/tmp/
/tmp-*/
