android_sdk := ${HOME}/android-sdk_r24.0.1-linux

export PATH := ${android_sdk}/tools:${android_sdk}/platform-tools:${android_sdk}:${android_sdk}/depot_tools:${CURDIR}/node_modules/.bin:${PATH}

export ANDROID_HOME := ${android_sdk}
export XWALK_OS_ANDROID := 1
