body {
  -webkit-user-select: none;
  font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 24px;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#my-drawer {
  background: #0f0;
  height: 100%;
}

#my-main {
  background: #ff0;
  height: 100%;
}

#my-toolbar, #my-toolbar-top {
  background: green;
}

#my-content {
  background: white;
}

* {
  outline: 1px grey dotted;
}

/* vim:set sw=2 sts=2 et: */
