body {
  font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 24px;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

/* vim:set sw=2 sts=2 et: */
