body {
  -webkit-user-select: none;
  font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 24px;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* vim:set sw=2 sts=2 et: */
